

.top-bar .search-beam,
.home-section .home-section-title:after,
a.hl-button,
.fdm-item-price-wrapper span,
#home-testimonials .owl-theme .owl-controls .owl-page.active span, #home-testimonials .owl-theme .owl-controls.clickable .owl-page:hover span,
#secondary .widget h2.widget-title:after,
#secondary .widget .tagcloud a,
.fdm-item-panel .fdm-item-title:after,
.squarebanner h3.sidetitl:after,
#comments ol.comment-list li .comment-body .reply a,
#comments #respond .comment-form p .submit:hover
{
	background: #07bc13!important;
}

#footer-widgets
{
	background: ;
}


/* Links */

a:link, a:visited {
	color: ;
}

a:hover,
a:focus,
a:active {
	color:;
	text-decoration: none;
}


