.item-product {
	margin-bottom: 10px;
	padding: 10px 10px 20px 0px;
}



.item-product-view {
	border-radius: 10px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 3px;
	text-align: center;
}

.item-product-view img {
	height: 180px;
	cursor: pointer;
}

.item-product-view h3 {
	text-transform:uppercase;
	color: #000;
	font-size: 16px;
	height: 50px;
	padding: 0px 10px;
}

.item-price {
	font-size: 18px;
	padding-left: 10px;
	display: inline;
}

.item-price i {
	font-size: 14px;
}

.item-product-view a, .btn-basket {
	background: #07bc13;
    padding: 10px 25px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.btn-basket:hover {
	color: #eee;
	text-decoration: none;
}

.btn-basket:visited {
	text-decoration: none;
    color: #fff;
}

.btn-basket:disabled {
	color: #aaa;
}



.label-gram {
	position: absolute;
	right: 10px;
	bottom: 80px;
	font-size: 15px;
	background-color: #5bc0de;
	border-radius: 3px;
	color: #fff;
	padding: 2px 8px;
}

.label-gram-basket {
	position: absolute;
	right: 30px;
	top: 20px;
	font-size: 15px;
	background-color: #5bc0de;
	border-radius: 3px;
	color: #fff;
	padding: 2px 8px;
}

.modal-title {
    text-transform: uppercase;	
}





.table-basket th {
	border-bottom: 1px solid #aaa;

}

.table-basket th, td {
    padding: 10px;
    text-align: left;
}

.table-basket tr:nth-child(even) {
	background-color: #f2f2f2
}


.top-bar .top-right ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

.top-bar i {
	font-size: 16px;
}

.top-bar li {
	padding-right: 30px;
}

.top-bar .top-right ul li {
	float:right;
	margin:0px 0px 0px 10px
}
.top-bar .top-right ul li a {
	color:#000
}


.basket-button {
	font-color: #fff;
	background-color: #07bc13;
	display: block;
	width: 72px;
	padding: 0px 10px;
	display: none;
}


.ui-header {
	font-size: 12px;
}

.min-sum {
	color: red;
	font-size: 18px;
}

.error {
	color: red;
	font-size: 20px;
}

.top-bar .search-beam,
.home-section .home-section-title:after,
a.hl-button,
.fdm-item-price-wrapper span,
#home-testimonials .owl-theme .owl-controls .owl-page.active span, #home-testimonials .owl-theme .owl-controls.clickable .owl-page:hover span,
#secondary .widget h2.widget-title:after,
#secondary .widget .tagcloud a,
.fdm-item-panel .fdm-item-title:after,
.squarebanner h3.sidetitl:after,
#comments ol.comment-list li .comment-body .reply a,
#comments #respond .comment-form p .submit:hover
{
	background: #07bc13!important;
}

#footer-widgets
{
	background: ;
}


/* Links */

a:link, a:visited {
	color: ;
}

a:hover,
a:focus,
a:active {
	color:;
	text-decoration: none;
}


.loading {
	
	text-align: center;
}


.cat-a {
	cursor: pointer;
}

.status-bar {
	margin: 20px 0px;
	background-color: #f5f5f5;
	border-radius: 7px;
	height: 50px;
	border: 1px solid #e0e0e0;
}

.status-bar ul {
	list-style: none;
	list-style-position: inside;
	margin: 0px;
	padding: 5px 0px;
	height: 30px;
	float: right;
}

.status-bar li {
	display: inline;
	padding: 5px 10px;
	margin: 0px 10px;
	background-color: green;

}

.status-bar a {
	cursor: pointer;
	color: #fff;
}


 .wizard {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  background-color: #fafafa;
  position: relative;
  min-height: 48px;
  display: inline-block;
  float: right;
  margin: 20px 0px;
}

.wizard > .steps-container > ul.steps {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

.wizard > .steps-container > ul.steps li {
  float: left;
  margin: 0;
  padding: 0 20px 0 30px;
  height: 46px;
  line-height: 46px;
  position: relative;
  background: #eeeeee;
  color: #999999;
  font-size: 16px;
  cursor: not-allowed;
}

.wizard > .steps-container > ul.steps li .chevron {
  border: 24px solid transparent;
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: 0;
  z-index: 1;
}

.wizard > .steps-container > ul.steps li.active .chevron {

  border-left: 14px solid #d4d4d4;
}

 .wizard > .steps-container > ul.steps li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #eeeeee;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
}

.wizard > .steps-container > ul.steps li.complete {
  background: #02a000;
  color: #fff;
}


.wizard > .steps-container > ul.steps li.complete:hover {
  background: #07bc13;
  cursor: pointer;
}


.wizard > .steps-container > ul.steps li.complete:hover .chevron:before {
  border-left: 14px solid #07bc13;
}

 .wizard > .steps-container > ul.steps li.complete .chevron:before {
  border-left: 14px solid #02a000;
}
 .wizard > ul.steps li.active,
 .wizard > .steps-container > ul.steps li.active {
  background: #eef7fb;
  color: #3a87ad;
  cursor: default;
}
 .wizard > ul.steps li.active .chevron:before,
 .wizard > .steps-container > ul.steps li.active .chevron:before {
  border-left: 14px solid #eef7fb;
}
 .wizard > ul.steps li:first-child,
 .wizard > .steps-container > ul.steps li:first-child {
  border-radius: 4px 0 0 0;
  padding-left: 20px;
}
 .wizard.rtl {
  direction: rtl;
}
 .wizard.rtl > ul.steps,
 .wizard.rtl > .steps-container > ul.steps {
  right: 0;
  left: auto;
  float: right;
}
 .wizard.rtl > ul.steps.previous-disabled li.complete:hover .chevron:before,
 .wizard.rtl > .steps-container > ul.steps.previous-disabled li.complete:hover .chevron:before {
  border-right-color: #f5f5f5;
}
 .wizard.rtl > ul.steps li,
 .wizard.rtl > .steps-container > ul.steps li {
  float: right;
}
 .wizard.rtl > ul.steps li .chevron,
 .wizard.rtl > .steps-container > ul.steps li .chevron {
  right: auto;
  left: -14px;
  border-right: 14px solid #cccccc;
  border-left: 0;
}
 .wizard.rtl > ul.steps li .chevron:before,
 .wizard.rtl > .steps-container > ul.steps li .chevron:before {
  right: auto;
  left: 1px;
  border-right: 14px solid #eeeeee;
  border-left: 0;
}
 .wizard.rtl > ul.steps li.active .chevron:before,
 .wizard.rtl > .steps-container > ul.steps li.active .chevron:before {
  border-right: 14px solid #eef7fb;
}
 .wizard.rtl > ul.steps li.complete .chevron:before,
 .wizard.rtl > .steps-container > ul.steps li.complete .chevron:before {
  border-right: 14px solid #f5f5f5;
}
 .wizard.rtl > ul.steps li.complete:hover .chevron:before,
 .wizard.rtl > .steps-container > ul.steps li.complete:hover .chevron:before {
  border-right: 14px solid #e2eaee;
  border-left: none;
}
 .wizard.rtl > .actions {
  right: auto;
  left: 0;
  float: left;
  border-left: none;
  border-right: 1px solid #d4d4d4;
  border-radius: 4px 0 0 0;
}
 .wizard.rtl > .actions .btn-prev span {
  margin-left: 5px;
  margin-right: 0;
}
 .wizard.rtl > .actions .btn-next span {
  margin-left: 0;
  margin-right: 5px;
}
 .wizard > .actions {
  z-index: 1000;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 46px;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  background-color: #e6e6e6;
  border-left: 1px solid #d4d4d4;
  border-radius: 0 4px 0 0;
}
 .wizard > .actions a {
  line-height: 45px;
  font-size: 12px;
  margin-right: 8px;
}
 .wizard > .actions .btn-prev[disabled] {
  cursor: not-allowed;
}
 .wizard > .actions .btn-prev span {
  margin-right: 5px;
}
 .wizard > .actions .btn-next[disabled] {
  cursor: not-allowed;
}
 .wizard > .actions .btn-next span {
  margin-left: 5px;
}
 .wizard .step-content {
  border-top: 1px solid #cccccc;
  padding: 10px;
  float: left;
  width: 100%;
}
 .wizard .step-content .step-pane {
  display: none;
}
 .wizard .step-content > .active {
  display: block;
}
 .wizard .step-content > .active .btn-group .active {
  display: inline-block;
}
 .wizard.complete > .actions .btn-next .glyphicon {
  display: none;
}